		<div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v7.0"></script>

		<!-- START BANNER-SHOW -->
			<section id="home" class="main_banner banner_bg">
				<div class="display_table">
					<div class="display_table_cell">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="banner_content text-center">
										<span class="sm_title">Bienvenidos!</span>
										<h1 class="cd-headline clip">
											<span class="fw_300">Somos</span>
											<span class="cd-words-wrapper">
												<b class="is-visible fw_800">Liceo Bethesda</b>
												<b class="fw_800">Formación integral</b>
												<b class="fw_800">Educación con calidad cristiana</b>
											</span>
										</h1>
										<div class="sub_title">
											<span>Liceo Bethesda</span>
											<span>Educación con calidad cristiana</span>
										</div>
										<ul class="banner_social_link">
											<li><a href="www.facebook.com/LiceoBethesdaOficial" target="_blank"><i class="fa fa-facebook"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mouse_scroll">
					<a href="#about" class="smoothScroll">
						<div class="mouse">
							<i class="ti-angle-double-down"></i>
						</div>
					</a>
				</div>
			</section>
		<!-- END BANNER-SHOW -->

		<!-- START ABOUT -->
			<section id="about" class="section_padding">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-sm-12 col-xs-12">
							<div class="about_img">
                                <%= image_tag '68497121_491596075004492_205920480429867008_o_edited.jpg', :relative => true %>
							</div>
						</div>
						<div class="col-md-7 col-sm-12 col-xs-12">
							<div class="about_content_area">
								<h5>El Liceo Bethesda.</h5>
								<p>Es una institución educativa creada para la formación integral de niños, niñas y jóvenes, enteramente comprometidas mediante su proyecto educativo inspirado desde una perspectiva cristiana, humana, cognitiva y social.</p>
								<h3>Misión.</h3>
                                <p>Formar de manera integral personas comprometidas desde una perspectiva cristiana, humana, cognitiva y social, para desenvolverse competentemente de tal manera que su SER, SABER Y HACER aporten bienestar a sí mismo, su entorno y la social.</p>

								<div class="about_me">
                                    <div class="Address">
                                        <span><i class="fa fa-map-marker"></i> Dirección</span>
                                        <a href="www.google.com/maps/dir//liceo+bethesda/" target="_blank">Cl. 2 # 09 - 42, Bogotá</a>
                                    </div>
                                    <div class="phone">
                                        <span><i class="fa fa-volume-control-phone"></i> Llamar</span>
                                        <a href="tel:3204051400" target="_blank">320 4051400</a>
                                    </div>
                                    <div class="email">
                                        <span><i class="fa fa-envelope"></i> Correo Electrónico</span>
                                        <a href="mailto:itcb@cmb.org.co" target="_blank">itcb@cmb.org.co</a>
                                    </div>
                                </div>

								<div class="about_btn">
									<a href="#contact" class="btn btn-default main_btn contact_btn">Contáctanos</a>
									<a href="tel:3204051400" class="btn btn-default contact_number">320 4051400</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!-- END ABOUT -->

		<!-- START SERVICE -->
			<section id="service" class="gray_bg section_padding pb_70">
				<div class="container">
					<div class="section_heading text-center">
						<h2>Cobertura</h2>
						<p>En Preescolar, Primaria y Bachillerato el Liceo Bethesda ofrece una propuesta educativa de alta calidad, con programas curriculares dirigidos al desarrollo de las potencialidades de los alumnos, <strong>acompañadas de servicios complementarios como:</strong></p>
					</div>

					<div class="row text-center">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="service_slider owl-carousel">
								<div class="single_service">
									<div class="service_icon">
										<i class="fa fa-bus"></i>
									</div>
									<h4>Transporte y Rutas</h4>
									<P>Con la que podemos garantizar el acceso y la permanencia de la niñez y la juventud a la educación.</P>
								</div>
								<div class="single_service">
									<div class="service_icon">
										<i class="fa fa-cutlery"></i>
									</div>
									<h4>Alimentación</h4>
									<P>Con alimentos inocuos, y nutricionalmente balanceado para los niños, niñas y adolescentes.</P>
								</div>
								<div class="single_service">
									<div class="service_icon">
										<i class="fa fa-futbol-o"></i>
									</div>
									<h4>Cursos extracurriculares</h4>
									<P>Complemento en la formación y descubrimiento de nuevos gustos, habilidades y pasiones.</P>
								</div>
								<div class="single_service">
									<div class="service_icon">
										<i class="ti-tablet"></i>
									</div>
									<h4>Plataforma Digital</h4>
									<P>Toda nuestra comunidad cuenta con usuarios para la plataforma Sistema Saberes.</P>
								</div>
								<div class="single_service">
									<div class="service_icon">
										<i class="ti-timer"></i>
									</div>
									<h4>Jornada Completa</h4>
									<P>Con impactos positivos y ganancias en los niveles de aprendizaje del estudiante.</P>
								</div>
							</div>
						</div> <!-- End Col -->
					</div>
				</div>
			</section>
		<!-- END SERVICE -->

		<!-- START PORTFOLIO -->
			<section id="portfolio" class="section_padding">
				<div class="section_heading text-center">
					<h2>Nuestra comunidad</h2>
					<p>Creemos,confesamos,aplicamos y practicamos cada una de las enseñanzas inspirados por Dios y reflejadas en la sagrada escritura LA BIBLIA.</p>
				</div>

				<!--div class="work_filter text-center wow fadeInDown">
					<ul>
						<li class="active" data-filter="*">All</li>
						<li data-filter=".design">Design</li>
						<li data-filter=".marketing">Marketing</li>
						<li data-filter=".Photography">Photography</li>
					</ul>
				</div--->

				<div class="row">
					<div class="work_content_area">
						<div class="col-md-3 col-sm-12 col-xs-12 padding_0">
							<div class="box">

                                <%= image_tag '58790280_425410198289747_1135781308035760128_o.jpg', :relative => true %>
								<div class="box_content_area">
									<div class="hover_content">
										<h5>Creative Project</h5>
										<span>Web Design</span>
										<div class="icon">
											<a href="images/58790280_425410198289747_1135781308035760128_o.jpg" data-lightbox="images"><i class="ti-plus"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-12 col-xs-12 padding_0 element-item design Photography">
							<div class="box">
                                <%= image_tag '61117609_436549477175819_4083592413262643200_o.jpg', :relative => true %>
								<div class="box_content_area">
									<div class="hover_content">
										<h5>Creative Project</h5>
										<span>Web Design</span>
										<div class="icon">
											<a href="images/61117609_436549477175819_4083592413262643200_o.jpg" data-lightbox="images"><i class="ti-plus"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-12 col-xs-12 padding_0 element-item design Photography">
							<div class="box">
                                <%= image_tag '60868894_434771007353666_7313804378480050176_o.jpg', :relative => true %>
								<div class="box_content_area">
									<div class="hover_content">
										<h5>Creative Project</h5>
										<span>Web Design</span>
										<div class="icon">
											<a href="images/60868894_434771007353666_7313804378480050176_o.jpg" data-lightbox="images"><i class="ti-plus"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-12 col-xs-12 padding_0 element-item Photography marketing">
							<div class="box">
                                <%= image_tag '60700084_438565056974261_1523266471432552448_o.jpg', :relative => true %>
								<div class="box_content_area">
									<div class="hover_content">
										<h5>Creative Project</h5>
										<span>Web Design</span>
										<div class="icon">
											<a href="images/60700084_438565056974261_1523266471432552448_o.jpg" data-lightbox="images"><i class="ti-plus"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-12 col-xs-12 padding_0 element-item Photography marketing">
							<div class="box">
                                <%= image_tag '67302090_480367512794015_8900637044498235392_o.jpg', :relative => true %>
								<div class="box_content_area">
									<div class="hover_content">
										<h5>Creative Project</h5>
										<span>Web Design</span>
										<div class="icon">
											<a href="images/67302090_480367512794015_8900637044498235392_o.jpg" data-lightbox="images"><i class="ti-plus"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-12 col-xs-12 padding_0 element-item Photography marketing">
							<div class="box">
                                <%= image_tag '67401991_491672224996877_8347591259891695616_o.jpg', :relative => true %>
								<div class="box_content_area">
									<div class="hover_content">
										<h5>Creative Project</h5>
										<span>Web Design</span>
										<div class="icon">
											<a href="images/67401991_491672224996877_8347591259891695616_o.jpg" data-lightbox="images"><i class="ti-plus"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-12 col-xs-12 padding_0 element-item Photography marketing">
							<div class="box">
                                <%= image_tag '67764938_491596045004495_6357133613393248256_o.jpg', :relative => true %>
								<div class="box_content_area">
									<div class="hover_content">
										<h5>Creative Project</h5>
										<span>Web Design</span>
										<div class="icon">
											<a href="images/67764938_491596045004495_6357133613393248256_o.jpg" data-lightbox="images"><i class="ti-plus"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-12 col-xs-12 padding_0 element-item Photography marketing">
							<div class="box">
                                <%= image_tag '67762111_485421045621995_5465170585069813760_o.jpg', :relative => true %>
								<div class="box_content_area">
									<div class="hover_content">
										<h5>Creative Project</h5>
										<span>Web Design</span>
										<div class="icon">
											<a href="images/67762111_485421045621995_5465170585069813760_o.jpg" data-lightbox="images"><i class="ti-plus"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!---div class="port_content_button text-center">
						<a href="#0" class="btn btn-default main_btn">cargar más</a>
					</div-->
				</div>
			</section>
		<!-- END PORTFOLIO -->

		<!-- START COUNTER -->
		    <section id="counter_area" class="gray_bg section_padding rs_pb_70">
				<div class="container">
					<div class="row text-center">
						<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
							<div class="single_counter">
								<div class="icon">
									<i class="icon-happy"></i>
								</div>
								<span class="counter">253 </span>
								<p>Familias Formandose</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
							<div class="single_counter">
							    <div class="icon">
									<i class="icon-briefcase"></i>
							    </div>
								<span class="counter">16</span>
							    <p>Docentes de Apoyo</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
							<div class="single_counter">
							    <div class="icon">
									<i class="icon-trophy"></i>
							    </div>
								<span class="counter">52</span>
								<p>Awards Received</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
							<div class="single_counter">
							    <div class="icon">
									<i class="icon-profile-male"></i>
							    </div>
								<span class="counter">254</span>
								<p>Team Member</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!-- END COUNTER -->

		<!-- START RESUM -->
			<section id="resume" class="section_padding pb_70">
				<div class="container">
					<div class="section_heading text-center">
						<h2>Noticias y Publicaciones</h2>
						<p>Siguen nuestra noticias y publicaciones desde nuestra página de la red social facebook.</p>
					</div>

					<div class="row">
						<div class="col-xs-12  col-xs-offset-0 col-sm-6 col-sm-offset-3 text-center">
                            <div class="fb-page" data-href="https://www.facebook.com/LiceoBethesdaOficial/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/LiceoBethesdaOficial/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LiceoBethesdaOficial/">Liceo Bethesda</a></blockquote></div>
                        </div>
					</div>
				</div>
			</section>
		<!-- END RESUM -->

		<!-- START BLOG -->
			<section id="blog" class="gray_bg section_padding pb_70">
				<div class="container">
					<div class="section_heading text-center">
						<h2>Plataforma Sistema Saberes</h2>
						<p class="">En el liceo Bethesda usamos <strong>Sistema Saberes</strong> que cuenta cuenta con herramientas para dar clases virtuales en vivo, entregar tareas en línea, descargar guías de estudio y mantener a la comunidad conectada con el canal más seguro de comunicación</p>
                        <a href="https://www.sistemasaberes.com/login.html" ><%= image_tag 'Saberes_home_logo.png' %></a>
					</div>

					<div class="row">
						<div class="blog_slide_area">
							<div class="col-sm-6 col-xs-12">
                                <h4>Aplicación Móvil Gratuita</h4>
                                <div class="row">
                                  <div class="col-sm-6">
                                    <a href="https://play.google.com/store/apps/details?id=com.sistemasaberes.mobile" rel="nofollow">
                                      <img src="https://www.sistemasaberes.com/images/old/assets/android_.png" class="img-responsive" alt="Disponible en Android">
                                    </a>
                                  </div>
                                  <div class="col-sm-6">
                                    <a href="https://itunes.apple.com/co/app/sisitema-saberes-mobile/id1082570165" rel="nofollow">
                                      <img src="https://www.sistemasaberes.com/images/old/assets/app-store-es.png" class="img-responsive" alt="disponible en iPhone">
                                    </a>
                                  </div>
                                </div>
							</div>
							<div class="col-sm-6 col-xs-12">
								<div class="single_blog">
									<div class="blog-thumb">
										<div class="blog-info">
											<a href="https://app.sistemasaberes.com/auth/azure_oauth2" ><h4>Iniciar Sesión con Office 365</h4></a>
											<p>Aquí puedes iniciar sesión con tu cuenta. <strong>@liceobethesda.edu.co</strong></p>
                                            <a href="https://app.sistemasaberes.com/auth/azure_oauth2" class="btn btn-default">
                                              <img src="https://www.sistemasaberes.com/images/old/assets/Office365logoOrange_Web.png" alt='Inicie sesión con Office 365 ' style="height:30px">
                                            </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!-- END BLOG -->

		<!-- START CONTACT -->
			<section id="contact" class="section_padding">
				<div class="container">
					<div class="section_heading text-center">
						<h2>Contactenos</h2>
						<p>Solidaridad y comunicación sincera con los otros</p>
					</div>

					<div class="row">
						<div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 ">
							<div class="contact_details pb_0">
								<div class="single_contact">
									<i class="fa fa-map-marker"></i>
									<h5>Dirección</h5>
									<p><a href="www.google.com/maps/dir//liceo+bethesda/" target="_blank">CL 2 #09 - 42, Bogotá, Colombia</a></p>
								</div>
                            </div>
                        </div>
						<div class="col-xs-6 col-xs-offset-3  col-sm-3 col-xs-offset-0">
							<div class="contact_details pb_0">
								<div class="single_contact">
									<i class="fa fa-envelope"></i>
									<h5>Correo electrónico</h5>
									<p><a href="mailto:itcb@cmb.org.co" target="_blank">itcb@cmb.org.co</a></p>
								</div>
                            </div>
                        </div>
						<div class="col-xs-6 col-sm-3">
							<div class="contact_details pb_0">
								<div class="single_contact">
									<i class="fa fa-phone"></i>
									<h5>Celular</h5>
									<p><a href="tel:3204051400" target="_blank">320 4051400</a></p>
								</div>
                            </div>
                        </div>

					</div><!--- END ROW -->
				</div><!--- END CONTAINER -->
			</section>
		<!-- END CONTACT -->
