<!doctype html>
<html lang="zxx">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link rel="apple-touch-icon" sizes="57x57" href="./apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="./apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href=".">
        <link rel="apple-touch-icon" sizes="76x76" href="./apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="./apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="./apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="./apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="./apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="./apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="./android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href=".">
        <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
        <link rel="manifest" href="./manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
		<!-- SITE TITLE -->
		<title>Liceo Bethesda</title>
        <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700,700i,800,900' %>
        <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700,800,900' %>
        <%= stylesheet_link_tag 'fonts/font-awesome.min.css', :relative => true %>
        <%= stylesheet_link_tag 'fonts/etline.css', :relative => true %>
        <%= stylesheet_link_tag 'fonts/themify-icons.css', :relative => true %>
        <%= stylesheet_link_tag 'plugins.css', :relative => true %>
        <%= stylesheet_link_tag 'lightbox.min.css', :relative => true %>
        <%= stylesheet_link_tag 'responsive.css', :relative => true %>
        <%= stylesheet_link_tag 'style.css', :relative => true %>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body data-spy="scroll" data-target=".navbar" data-offset="70">

		<!-- START PRELOADER -->
			<div class="preloader">
				<div class="spinner">
					<div class="double-bounce1"></div>
					<div class="double-bounce2"></div>
				</div>
			</div>
		<!-- END PRELOADER -->

		<!-- START NAVBAR -->
			<div class="navbar navbar-default navbar-fixed-top menu-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="/index.html" class="navbar-brand"><span><%= image_tag 'logo2.png', :relative => true %> Liceo Bethesda</span></a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home" class="smoothScroll"><i class="fa fa-home"></i></a></li>
							<li><a href="#about" class="smoothScroll">El liceo</a></li>
							<li><a href="#service" class="smoothScroll">Servicios</a></li>
							<li><a href="#portfolio" class="smoothScroll">Imágenes</a></li>
							<li><a href="#resume" class="smoothScroll">Noticias</a></li>
							<li><a href="#blog" class="smoothScroll">Plataforma</a></li>
							<li><a href="#contact" class="smoothScroll">Contactanos</a></li>
						</ul>
					</div>
				</div><!--- END CONTAINER -->
			</div>
		<!-- END NAVBAR -->

        <%= yield %>

		<!-- START FOOTER -->
			<div class="footer">
				<div class="container">
					<div class="copy-text">
                        <p>© 2020 Soportado por <a href="https://www.sistemasaberes.com" class="white" target="_blank">Sistema Saberes</a></p>
					</div>
				</div>
			</div>
		<!-- END FOOTER -->

		<!-- Latest jQuery -->
            <%= javascript_include_tag 'jquery.min.js' %>
            <%= javascript_include_tag 'bootstrap.min.js' %>
            <%= javascript_include_tag 'owl.carousel.min.js' %>
            <%= javascript_include_tag 'modernizr-2.8.3.min.js' %>
            <%= javascript_include_tag 'jquery.inview.min.js' %>
            <%= javascript_include_tag 'isotope.pkgd.min.js' %>
            <%= javascript_include_tag 'animated-headline.js' %>
            <%= javascript_include_tag 'lightbox.min.js' %>
            <%= javascript_include_tag 'SmoothScroll.js' %>
            <%= javascript_include_tag 'form-contact.js' %>
            <%= javascript_include_tag 'jquery.hoverdir.js' %>
            <%= javascript_include_tag 'scrolltopcontrol.js' %>
            <%= javascript_include_tag 'wow.min.js' %>
			<script type="text/javascript">
				$(function() {

					$(' .box ').each( function() { $(this).hoverdir({
						hoverDelay : 50,
						inverse : true
					}); } );

				});
			</script>
            <%= javascript_include_tag 'main.js' %>
	</body>
</html>
