/***************************************
========================================

	Author Name   : Belal Hossain
	This is html template
	Template Name : Larson - Minimal Personal Portfolio Template
	Version: 1.0

****************************************
=======================================/



/* ----------------------------------------------------------------

 ==> Table Of Content

	01 Basics
	02 Buttons
	03 Header
	04 Banner
	05 About
	06 Service
	07 Works
	08 Counter
	09 Resume
	10 Cta
	11 Testimonial
	12 Blog
	13 Contact
	14 Footer
	15 Top-control


---------------------------------------------------------------- */



/* ----------------------------------------------------------------
    [ 01 Start Basics ]
-----------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #666;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Montserrat', sans-serif;
	color: #000;
}
img{
	max-width: 100%;
	height: auto;
}
ul{
	padding: 0;
	list-style: none;
}
p {
    margin: 0;
}
a:hover{
	text-decoration: none;
	outline: none;
}
.text_white{
	color: #fff;
}
.padding_0{
	padding: 0;
}
.gray_bg{
	background: #fafafa;
}
.dark_bg_1{
	background: #000;
}
.dark_bg_2{
	background: #0F1113;
}
.form-control::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}
.form-control::-ms-input-placeholder {
    color: #666;
    opacity: 1;
}
.form-control::placeholder {
    color: #666;
    opacity: 1;
}

/* START PRELOADER DESIGN */
.preloader {
	background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}
.preloader.dark_preloader{
	background: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}
.spinner {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	font-size: 10px;
	text-indent: -12345px;
	z-index: 10000;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.dark_preloader .double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* END PRELOADER DESIGN */

/* Start Section-Padding */
.section_padding{
	padding: 100px 0;
}
.pb_70{
	padding-bottom: 70px;
}
/* End Section-Padding */

/* Start Section-Heading */
.section_heading {
    padding-bottom: 100px;
    padding-top: 0;
    position: relative;
}
.section_heading:after {
    position: absolute;
    content: "";
    display: block;
    height: 30px;
    width: 3px;
    bottom: 70px;
    left: 50%;
    background-color: #000;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.dark_heading.section_heading:after {
    position: absolute;
    content: "";
    background-color: #fff;
}
.section_heading h2 {
    font-size: 40px;
    font-weight: 600;
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
}
.dark_heading.section_heading h2 {
    color: #fff;
}
.section_heading p {
	margin: 0 auto;
    margin-bottom: 20px;
    max-width: 530px;
}

/* End Section-Heading */

/* ----------------------------------------------------------------
    [ End Basics ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
    [ 02 Start Buttons ]
-----------------------------------------------------------------*/
/* Start Btn-Style */
.main_btn {
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
    text-transform: capitalize;
    padding: 23px 40px;
    letter-spacing: 0.6px;
    font-weight: 600;
    background: #000;
    line-height: 10px;
    border-radius: 30px;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
}
.dark_bg_btn{
    color: #000;
    background: #fff;
}
.main_btn:focus,
.main_btn:hover {
    color: #fff;
    background: #000;
}
.dark_bg_btn:focus,
.dark_bg_btn:hover {
    color: #000;
    background: #fff;
}
.main_btn:before,
.main_btn:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.5s ease 0s;
}
.main_btn:hover:before{
    background: rgba(255, 255, 255, 0.7);
    left: 60%;
    right: 60%;
}
.dark_bg_btn:hover:before{
    background: rgba(0, 0, 0, 0.7);
    left: 60%;
    right: 60%;
}
.main_btn:hover:after{
    background: rgba(255, 255, 255, 0.7);
    top: 60%;
    bottom: 60%;
}
.dark_bg_btn:hover:after{
    background: rgba(0, 0, 0, 0.7);
    top: 60%;
    bottom: 60%;
}
.about_btn .contact_number {
    background: transparent;
    border: 1px solid #000;
    padding: 18px 50px;
    margin-top: 29px;
    border-radius: 30px;
    position: absolute;
    right: 47%;
}
.about_btn .dark_cn {
    background: transparent;
	color: #fff;
    border: 1px solid #fff;
}
.about_btn .contact_number:focus{
    background: transparent;
    border: 1px solid #000;
	box-shadow: none;
}
.about_btn .dark_cn:focus{
    background: transparent;
    border: 1px solid #fff;
	box-shadow: none;
}
.blog_btn {
    padding: 20px 30px;
}
/* ----------------------------------------------------------------
    [ End Buttons ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
    [ 03 Start Header ]
-----------------------------------------------------------------*/
.navbar-default {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.navbar-brand { padding: 0px }
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 5px;
    text-transform: capitalize;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    position: relative;
}
.navbar-default.dark_bg_menu .navbar-nav>li>a {
    color: #fff;
}
.navbar-nav li a:before,
.navbar-nav li a:after{
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}
.navbar-nav li a:before{
    margin-right: 8px;
    content: '[';
    -webkit-transform: translate(20px);
    -moz-transform: translate(20px);
    transform: translate(20px);
}
.navbar-nav li a:after{
    margin-left: 8px;
    content: ']';
    -webkit-transform: translate(-20px);
    -moz-transform: translate(-20px);
    transform: translate(-20px);
}
.navbar-default .navbar-nav>li>a:hover:before,
.navbar-default .navbar-nav>li>a:hover:after,
.navbar-default .navbar-nav > li.active > a:after,
.navbar-default .navbar-nav > li.active > a:before{
    opacity: 1;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    transform: translate(0px);
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
    color: #000;
    background: none;
}
.navbar-default.dark_bg_menu .navbar-nav>.active>a,
.navbar-default.dark_bg_menu .navbar-nav>.active>a:hover,
.navbar-default.dark_bg_menu .navbar-nav>.active>a:focus{
    color: #fff;
    background: none;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #000;
    background-color: transparent;
}
.navbar-default.dark_bg_menu .navbar-nav>li>a:hover,
.navbar-default.dark_bg_menu .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent;
}
.menu-top { background: rgba(0, 0, 0, 0) none repeat scroll 0 0 }
.navbar-default.sticky_menu {
    background-color: #fff;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    animation: fadeInDown 1s both 0.2s;
}
.navbar-default.dark_bg_menu.sticky_menu {
    background-color: #000;
    box-shadow: 0 1px 20px rgba(255, 255, 255, 0.1);
    width: 100%;
    animation: fadeInDown 1s both 0.2s;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background: transparent; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-default.dark_bg_menu .navbar-toggle .icon-bar {
    background-color: #fff;
}
/* ----------------------------------------------------------------
    [ End Header ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
    [ 04 Start Banner ]
-----------------------------------------------------------------*/
.main_banner{
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
}
.banner_bg{
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.banner_bg:before{
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255, 0.7);
}
.banner_bg_2{
	background-image: url(../images/banner2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.banner_bg_2:before{
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.5);
}
.parallax_bg{
	background-attachment: fixed;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
	top: 0;
}
.display_table{
	display: table;
	width: 100%;
	height: 100%;
}
.display_table_cell{
	display: table-cell;
    vertical-align: middle;
}
.banner_content .sm_title {
    color: #000;
    font-size: 22px;
    font-weight: 600;
}
.banner_bg_2 .sm_title {
    color: #fff;
}
.banner_content h1 {
    color: #000;
    font-size: 52px;
    margin: 0 0 5px;
}
.banner_bg_2 .banner_content h1 {
    color: #fff;
}
.banner_content h1 span .fw_300{
	font-weight: 300;
}
.banner_content h1 span .fw_800{
	font-weight: 800;
}
.banner_content .sub_title{
}
.banner_content .sub_title span {
	position: relative;
    font-weight: 400;
    color: #666;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 10px;
}
.banner_bg_2 .banner_content .sub_title span {
	position: relative;
    font-weight: 400;
    color: #fff;
}
.banner_content .sub_title span:after {
    position: absolute;
    content: "";
    top: 10px;
    bottom: 0;
    right: -12px;
    width: 4px;
    height: 4px;
    background: #666;
    border-radius: 50%;
}
.banner_content .sub_title span:last-child:after {
    display: none;
}
.banner_social_link {
    margin-top: 12px;
}
.banner_social_link li {
    display: inline-block;
    margin: 0 5px;
}
.banner_social_link a {
    position: relative;
    display: block;
    width: 45px;
	color: #000;
	font-size: 22px;
    line-height: 45px;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.3s;
	z-index: 0;
}
.banner_bg_2 .banner_social_link a {
	color: #fff;
}
.banner_social_link a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: 0.3s;
	z-index: -1;
}
.banner_bg_2 .banner_social_link a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}
.banner_social_link a:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.banner_social_link a:hover{
	color: #fff;
}
.banner_bg_2 .banner_social_link a:hover{
	color: #000;
}

/* Start Scroll-mouse */
#home .mouse {
    position: absolute;
    width: 22px;
    height: 42px;
    bottom: 100px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
	animation: finger 1s infinite 0s;
}
.mouse i {
    font-size: 30px;
    color: #000;
}
.banner_bg_2 .mouse i {
    font-size: 30px;
    color: #fff;
}
@keyframes intro{
	0%{
		opacity: 0;
		transform: translateY(40px);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes finger{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translateY(20px);
	}
}
/* ----------------------------------------------------------------
    [ End Banner ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
    [ 05 Start About ]
-----------------------------------------------------------------*/
.about_content_area h5{
    font-size: 18px;
    margin-top: 0;
    font-weight: 500;
}
.dark_bg_1 .about_content_area h5{
	color: #fff;
}
.about_content_area h3{
	font-size: 30px;
	font-weight: 600;
	margin: 15px 0;
}
.dark_bg_1 .about_content_area h3{
	color: #fff;
}
.about_me {
    margin-top: 30px;
}
.about_me .email a{
    color: #666;
}
.about_me div {
    margin-bottom: 20px;
}
.about_me span {
    display: inline-block;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    width: 150px;
    margin-right: 30px;
}
.dark_bg_1 .about_me span {
    color: #fff;
}
.about_me span:after {
    content: ":";
    position: absolute;
    right: 0;
}
.about_btn .contact_btn{
	position: relative;
}
/* ----------------------------------------------------------------
    [ End About ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
    [ 06 Start Service ]
-----------------------------------------------------------------*/
.single_service{
    text-align: center;
    padding: 40px 30px;
    background: #fff;
    margin-bottom: 30px;
	position: relative;
    transition: 0.4s;
}
.dark_bg_2 .single_service{
    background: #000;
}
.single_service:hover {
    box-shadow: 0px 1px 40px rgba(0,0,0, 0.15);
}
.dark_bg_2 .single_service:hover {
    box-shadow: 0px 1px 40px rgba(255,255,255, 0.15);
}
.single_service .service_icon {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    color: #000;
    background: rgba(0, 0, 0, 0.05);
    font-size: 30px;
    line-height: 70px;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.4s;
    z-index: 0;
}
.dark_bg_2 .single_service .service_icon {
    position: relative;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.4s;
    z-index: 0;
}
.single_service .service_icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: 0.4s;
	z-index: -1;
}
.single_service:hover .service_icon:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.single_service:hover .service_icon{
	color: #fff;
	box-shadow: none;
}
.single_service h4 {
    font-size: 22px;
    margin-top: 20px;
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
}
.dark_bg_2  .single_service h4 {
    color: #fff;
}
.single_service p{
	margin-top: 15px;
}
.service_slider .owl-dots{
	margin-top: 20px;
	text-align: center;
}
.service_slider .owl-dot{
	margin: 0 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: rgba(0,0,0, 0.3);
	border-radius: 30px;
}
.dark_bg_2 .service_slider .owl-dot{
	margin: 0 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: rgba(255,255,255, 0.3);
	border-radius: 30px;
}
.service_slider .owl-dot.active{
	background: #000;
}
.dark_bg_2 .service_slider .owl-dot.active{
	background: #fff;
}
/* ----------------------------------------------------------------
    [ End Service ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
    [ 07 Start Works ]
-----------------------------------------------------------------*/
.work_filter ul {
	padding: 0;
	list-style: none;
	margin-bottom: 30px;
}
.work_filter ul li {
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    padding: 5px 30px;
    letter-spacing: 1px;
	background: transparent;
    margin: 0 10px 20px;
    transition: all 0.5s ease-in-out;
	position: relative;
}
.dark_bg_1 .work_filter ul li {
    color: #fff;
}
.work_filter ul li:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    background: #ddd;
    top: 10px;
    right: -13px;
}
.work_filter ul li:last-child:after {
    display: none;
}
.work_filter ul li.active{
	background-color: #000;
	color: #fff;
}
.dark_bg_1 .work_filter ul li.active{
	background-color: #fff;
	color: #000;
}
.box{
    text-align: center;
    overflow: hidden;
    position: relative;
}
.box .box_content_area{
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    left: 0;
    z-index: 1;
    transition: all 0.6s ease 0s;
}
.box .hover_content{
	position:absolute;
    width:100%;
    top:50% !important;
    left:50% !important;
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%)
}
.box .hover_content h5{
    color: #fff;
    margin: 0;
    font-size: 18px;
}
.box .hover_content span {
    color: #fff;
	font-weight: 500;
    font-size: 14px;
}
.box .hover_content .icon a{
    display: inline-block;
	margin-top: 10px;
    font-size: 20px;
    color: #fff;
}
.port_content_button {
    margin-top: 10px;
}
/* ----------------------------------------------------------------
    [ End Works ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
    [ 08 Start Counter ]
-----------------------------------------------------------------*/
.single_counter {
    box-shadow: 0 0 30px rgba(0,0,0, 0.15);
    padding: 30px 0;
    border: 1px solid transparent;
	transition: all 0.3s ease 0s;
}
.dark_bg_2 .single_counter {
	box-shadow: 0 0 30px rgba(255,255,255, 0.15);
    border: 1px solid #000;
}
.single_counter:hover{
	background: #fff;
    border: 1px solid #000;
}
.dark_bg_2 .single_counter:hover{
	background: none;
    border: 1px solid #fff;
}
.single_counter .icon{
	margin-bottom: 20px;
}
.single_counter .icon i {
    font-size: 50px;
    color: #000;
}
.dark_bg_2 .single_counter .icon i {
    color: #fff;
}
.single_counter span{
	font-size: 30px;
	font-weight: 800;
	font-style: italic;
	color: #000;
	font-family: 'Montserrat', sans-serif;
}
.dark_bg_2 .single_counter span{
	color: #fff;
}
.single_counter p{
    font-size: 16px;
    color: #666;
    font-weight: 600;
    margin-bottom: 0;
}
/* ----------------------------------------------------------------
    [ End Counter ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
    [ 09 Start Resume ]
-----------------------------------------------------------------*/
.resume-container h3{
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    font-weight: 600;
}
.dark_bg_1 .resume-container h3{
	color: #fff;
}
.resume-container h3 i{
    margin-right: 15px;
    font-size: 30px;
}
.dark_bg_1 .resume-container h3 i{
	color: #fff;
}
.single_resume strong{
    color: #000;
    font-size: 14px;
}
.dark_bg_1 .single_resume strong{
    color: #fff;
}
.single_resume h5 {
    font-size: 16px;
    font-weight: 700;
}
.dark_bg_1 .single_resume h5 {
    color: #fff;
}
.single_resume{
    box-shadow: 0px -1px 30px rgba(0,0,0, 0.1);
    display: block;
    padding: 30px 30px;
    margin-bottom: 30px;
	position: relative;
}
.dark_bg_1 .single_resume{
    box-shadow: 0px -1px 30px rgba(255,255,255, 0.2);
    display: block;
	position: relative;
}
.single_resume:after {
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    height: 2px;
    background: #000;
    position: absolute;
    transition: all 0.3s ease;
}
.dark_bg_1 .single_resume:after {
    content: "";
    width: 90%;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all 0.3s ease;
}
.single_resume:hover:after {
    width: 100%;
}
/* ----------------------------------------------------------------
    [ End Resume ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
    [ 10 Start Cta ]
-----------------------------------------------------------------*/
.cta_section{
	background: url(../images/cta-action.jpg);
	position: relative;
    background-size: cover;
    background-attachment: fixed;
	padding: 100px 0;
}
.cta_section:before{
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255, 0.90);

}
.dark_overlay:before{
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.85);
}
.cta_content h3 {
    color: #000;
    font-size: 30px;
	margin-top: 0;
    margin-bottom: 0;
}
.dark_overlay h3 {
    color: #fff;
}
/* ----------------------------------------------------------------
    [ End Cta ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
    [ 11 Start Testimonial ]
-----------------------------------------------------------------*/
.single_testimonial {
    margin: 0 50px;
    text-align: center;
    position: relative;
}
.single_testimonial .description {
    padding: 0 145px;
    margin-bottom: 30px;
    font-style: italic;
    background: transparent;
    line-height: 30px;
    position: relative;
}
.single_testimonial .description:before {
    content: "\f10d";
    font-family: 'FontAwesome';
    font-size: 45px;
    color: #000;
    position: absolute;
    top: 10px;
    left: 90px;
}
.dark_bg_2 .single_testimonial .description:before {
    content: "\f10d";
    font-family: 'FontAwesome';
    font-size: 45px;
    color: #fff;
}
.single_testimonial .pic {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 50%;
    background: rgba(255,255,255, 0.8);
    margin-bottom: 15px;
}
.single_testimonial .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.single_testimonial .title{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 5px 0;
}
.dark_bg_2 .single_testimonial .title{
    color: #fff;
}
.single_testimonial .post{
    display: block;
    font-size: 14px;
    text-transform: capitalize;
}
.testimonial_area .owl-dots{
	margin-top: 20px;
	text-align: center;
}
.testimonial_area .owl-dot{
	margin: 0 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: rgba(0,0,0, 0.3);
	border-radius: 30px;
}
.dark_bg_2 .testimonial_area .owl-dot{
	margin: 0 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: rgba(2555,255,255, 0.3);
	border-radius: 30px;
}
.testimonial_area .owl-dot.active{
	background: #000;
}
.dark_bg_2 .testimonial_area .owl-dot.active{
	background: #fff;
}
/* ----------------------------------------------------------------
    [ End Testimonial ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
    [ 12 Start Blog ]
-----------------------------------------------------------------*/
.blog-thumb small {
	color: #000;
	font-weight: 600;
	display: block;
}
.dark_bg_1 .blog-thumb small {
	color: #fff;
}
.blog-thumb small .fa {
	margin-right: 5px;
}
.blog-thumb small,
.blog-thumb small + span {
	display: inline-block;
	vertical-align: middle;
}
.blog-thumb small + span{
	color: #666;
	font-size: 10px;
	font-weight: bold;
	text-transform: capitalize;
	margin-left: 2px;
}
.blog-info a h4{
    padding: 8px 0 12px;
    font-size: 22px;
    margin: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.dark_bg_1 .blog-info a h4{
    color: #fff;
}
.blog-info a h4:hover{
	color: #000;
}
.dark_bg_1 .blog-info a h4:hover{
	color: #fff;
}
.blog-info {
    padding: 30px;
    background: #fff;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.dark_bg_1 .blog-info {
    background: #000;
    box-shadow: 0 1px 30px rgba(255, 255, 255, 0.2);
}
/* ----------------------------------------------------------------
    [ End Blog ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
    [ 13 Start Contact ]
-----------------------------------------------------------------*/
.contact {
	overflow: hidden;
	padding: 0;
}
.input_padding {
    overflow: hidden;
}
.form-control {
    background: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 5px;
    color: #666;
    box-shadow: none;
    font-size: 15px;
    height: 45px;
}
.dark_bg_2 .form-control {
    background: #fff;
}
.form-control:focus {
    border-color: #fafafa;
    box-shadow: none;
    outline: 0 none;
}
.dark_bg_2 .form-control:focus {
    border-color: #fff;
}
.form-group #submitButton{
    width: 100%;
}
.contact_details {
    background: #fafafa;
    padding: 30px 0;
    border-radius: 10px;
}
.dark_bg_2 .contact_details {
    background: #fff;
}
.single_contact {
    padding-bottom: 30px;
    text-align: center;
}
.single_contact i {
    color: #000;
    font-size: 30px;
}
.single_contact h5{
    color: #000;
    margin: 15px 0 0;
    font-size: 18px;
}
.mb0 { margin-bottom: 0; }
.pb_0{ padding-bottom: 0; }
/* ----------------------------------------------------------------
    [ End Contact ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
    [ 14 Start Footer ]
-----------------------------------------------------------------*/
.footer {
    padding: 30px 0;
    background: #1a1a1a;
}
.copy-text p{
	text-align: center;
	color: #fff;
	margin: 0;
}
/* ----------------------------------------------------------------
    [ End Footer ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
    [ 15 Start Top-control ]
-----------------------------------------------------------------*/
.topcontrol {
    background: #000 none repeat scroll 0 0;
    border-radius: 0;
    bottom: 5px;
    margin-bottom: 50px;
    box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.3);
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    opacity: 1;
    line-height: 40px;
    filter: alpha(opacity=100);
    padding: 0 10px;
    border-radius: 5px;
    position: fixed;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 40px;
    height: 40px;
    z-index: 99;
}
.topcontrol:hover {
    background: #fff;
    color: #000;
}
/* ----------------------------------------------------------------
    [ End Top-control ]
-----------------------------------------------------------------*/
