.navbar {
    background: none repeat scroll 0 0 #aa0000;
}
.ace-nav > li.events-menu > a {
  background-color: #555555;
}
.ace-nav > li.events-menu > a:hover,
.ace-nav > li.events-menu > a:focus,
.ace-nav > li.open.events-menu > a {
  background-color: #4b4b4b;
}
.ace-nav > li.comunications-menu > a {
  background-color: #2e6589 !important;
}
.ace-nav > li.comunications-menu > a:hover,
.ace-nav > li.comunications-menu > a:focus,
.ace-nav > li.open.comunications-menu > a {
  background-color: #2c5976 !important;
}
.ace-nav > li.help-menu > a {
  background-color: #2e8965 !important;
}
.ace-nav > li.help-menu > a:hover,
.ace-nav > li.help-menu > a:focus,
.ace-nav > li.open.help-menu > a {
  background-color: #2c7659 !important;
}
.ace-nav > li.school-menu > a {
  background-color: #9abc32 !important;
}
.ace-nav > li.school-menu > a:hover,
.ace-nav > li.school-menu > a:focus,
.ace-nav > li.open.school-menu > a {
  background-color: #8ba832 !important;
}
.ace-nav > li.user-profile > a {
  background-color: #b74635 !important;
}
.ace-nav > li.user-profile > a:hover,
.ace-nav > li.user-profile > a:focus,
.ace-nav > li.open.user-profile > a {
  background-color: #a34335 !important;
}