.navbar .navbar-brand {
    padding-bottom: 5px;
    padding-top: 5px;
}
#wait {
  font-size: 30px;
  margin-right: 5px;
}
.ace-nav .logo-colegio .nav-user-photo {
    border: 0;
    border-radius: 0;
    margin: -4px 8px 0 0;    
	max-height: 40px;
    max-width: none;
}
div.info {
    background-color: inherit;
    border-bottom: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: 0 0 0 0 #cccccc;
    color: #000000;
    margin: 2px 0 0;
    padding: 0 10px 0 0;
    width: 170px;
}
div.info ul li {
    white-space: normal;
    width: 160px !important;
    list-style: outside none none;
}
div.info a {
    background: url("https://app.sistemasaberes.com/images/saberes_list.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    font-weight: bold;
    padding-left: 20px;
    text-align: center;
    text-decoration: none;
}
div.info h2, div.info h3 {
     font-size: 18px;
     margin: 5px;
     text-align: left;
	 color:#247AB4;
}
div.info select,div.info input {
	max-width: 140px !important;
}
.ace-settings-btn{
	opacity:1 !important;
	right: -4px;
}
.ace-settings-box{
	border: 2px solid #247AB4;
}
.nav-search.minimized:hover .nav-search-input,
.nav-search.minimized .nav-search-btn:active + .nav-search-input,
.nav-search.minimized .nav-search-input:focus,
.nav-search.minimized .nav-search-input:hover,
.nav-search.minimized .nav-search-input:active {
  width: 252px;
  max-width: 252px;
}
.message-item .sender {
  width: 150px !important;
}

.footer .footer-inner .footer-content {
  line-height: 26px !important;
}
.message-item.message-unread:not(.selected) {
    background-color: #fafafc;
}