﻿/* tags */
#letters_grades_config .widget-box.widget-color-red .tags, #letters_grades_config .widget-box.widget-color-green .tags, #letters_grades_config .widget-box.widget-color-orange .tags, #letters_grades_config .widget-box.widget-color-blue .tags{
	width:100%;
}
#letters_grades_config .widget-box.widget-color-red .tag {
     background-color: #d15b47 ! important;
}

#letters_grades_config .widget-box.widget-color-green .tag {
     background-color: #87b87f ! important;
}

#letters_grades_config .widget-box.widget-color-orange .tag {
     background-color: #ffb752 ! important;
}

#letters_grades_config .widget-box.widget-color-blue .tag {
     background-color: #428bca ! important;
}
/* gráfico del año académico*/
.academic-year{
    position:relative;
    top:0;
	display:none;
}
.bar {
    position:relative;
    top:4px;
    border: 0px;
	border-top: solid #31708F 1px;
}
.title_year{
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
    position: absolute;
	width: 100%;
}
.intervals{
    border: 0px;
	border-right: solid #31708F 1px;
	overflow: hidden;
}
.intervals:first-child {
	border-left: solid #31708F 1px;
}
.events  {
	display: inline-block;
    -webkit-border-radius: 11px !important;
    -moz-border-radius: 11px !important;
    border-radius: 11px !important;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 3px 0;
    position: relative;
    text-align: center;
}
/* slider rango de notas */

.example-gaps .ui-slider-handle {
     border-color: #dddddd #777777 #666666 #aaaaaa ! important;
     color: white;
     font-size: 1.2em;
     text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

.example-gaps .ui-slider-handle:after, .example-gaps .ui-slider-handle:before {
     border: 0px none ! important;
}

.example-gaps .ui-slider-handle-odd {
     background-color: #d3bd50 ! important;
}

.example-gaps .ui-slider-handle-even {
     background-color: #8bad4c ! important;
}

.example-gaps .ui-slider-handle-odd:nth-child(7) {
     background-color: #4b89aa ! important;
}

.example-gaps .ui-slider-range.ui-widget-header:nth-child(1) {
     background: none repeat scroll 0% 0% #4b89aa;
}

.example-gaps .ui-slider-range.ui-widget-header:nth-child(2) {
     background: none repeat scroll 0% 0% #8bad4c;
}

.example-gaps .ui-slider-range.ui-widget-header:nth-child(3) {
     background: none repeat scroll 0% 0% #d3bd50;
}

.example-gaps .ui-slider-range.ui-widget-header:nth-child(4) {
     background: none repeat scroll 0% 0% #d68273;
}
