.navbar-active-trend {
    background-color: #ffffff;
    border-color: #ffffff;
    padding: 0;
    padding-top: 15px;
}
.navbar-active-trend .nav.ace-nav {
    background-color: #fff;
    border: medium none;
}
.navbar-brand-trend {
    color: #7ACBD3 !important;
    font-size: 420% !important;
}
.navbar-brand-trend img{
    max-height:76px;
    width:100%;
    max-width:355px !important;
}
.header-trend{
    background-color: #723d8c;
    padding-left: 60px;
    padding-right: 60px;
}
.header-trend h1{
    font-size: 350%;
}
.how-it-works{    
    color: #f5b774;
    font-size: 400%;
}
.mgc-purple{
   color: #723d8c;
}
.header-productos{
    color: #723d8c;
    font-size: 400%;
}
.header-trend p{
}
